{% load staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<br>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img src="{% static "images/Avengers-Web-Poster.jpg"%}">
			<font size="4" color="light blue"><i>Avengers:Infinity War</i></font>
			<br>
			<p><font size="2" color="green	"><i>(Hindi)</i></font></p>
			 <button type="button" class="btn btn-warning" style="padding-left: 90px;padding-right: 90px;">BOOK</button>
		</div>
		
		<div class="col-md-3">
			<img src="{% static "images/Avengers-Web-Poster.jpg"%}">
			<font size="4" color="light blue"><i>Avengers:Infinity War</i></font>
			<br>
			<p><font size="2" color="green	"><i>(English)</i></font></p>
			 <button type="button" class="btn btn-warning" style="padding-left: 90px;padding-right: 90px;">BOOK</button>
		</div>
		
			<div class="col-md-3">
			<img src="{% static "images/102-not-out-Web-Poster.jpg"%}">
			<font size="4" color="light blue"><i>102 Not Out</i></font>
			<br>
			<p><font size="2" color="green	"><i>(Hindi)</i></font></p>
			 <button type="button" class="btn btn-warning" style="padding-left: 90px;padding-right: 90px;">BOOK</button>
		</div>
		
			<div class="col-md-3">
			<img src="{% static "images/102-not-out-Web-Poster.jpg"%}">
			<font size="4" color="light blue"><i>102 Not Out</i></font>
			<br>
			<p><font size="2" color="green	"><i>(Hindi)</i></font></p>
			 <button type="button" class="btn btn-warning" style="padding-left: 90px;padding-right: 90px;">BOOK</button>
		</div>
	</div>
	
</div>