<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<div align="center" class="jumbotron">
	<form method="post">
	 {% csrf_token %}
	   <div class="col-md-4" style="text-align: left">
	      <input type="text" name="placen" list="placename"/>
			<datalist id="placename">
			    <option value="Ulhasnagar">ULH</option>
			    <option value="Kalyan">KYN</option>
			    <option value="Mumbai">MUM</option>
			</datalist>
			<button class="btn btn-success">Go</button>
	   </div>
	</form>
</div>


{% if obj %}
	{% for i in obj %}
	    <a href="{% url "user:moviename" pk=i.id %}"><h2>{{ i.theatername }}</h2></a>
	    
    	<br>
	{% endfor %}
	
{% else %}
	<h2>Match Not Found!!!</h2>
{% endif %}