{% load staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<br>
<div class="container">
	<div class="row">
	{% if mylist %}
		{% for i,j,k in mylist %}
				<div class="col-md-3">
					<img src="{% static j %}">
					<font size="4" color="light blue"><i>{{ i }}</i></font>
					<br>
					<p><font size="2" color="green	"><i>({{ k }})</i></font></p>
					 <button type="button" class="btn btn-warning" style="padding-left: 90px;padding-right: 90px;margin-bottom: 30px;">BOOK</button>
				</div>
		{% endfor %}
		
	{% else %}
		<h1>No Movie Now Available. Please Wait For Update...</h1>
	
	{% endif %}
	</div>
</div>
